/* ========== Contact ========== */
.contact {
	transition: transform 1s;
}
.contact_content {
	@include containerWidth_sm;
}
.contact h2 {
	font-size: 4rem;
	margin: 4rem 0;
	color: $black;
	@extend %txtGradientHeading;
	text-align: center;
}
.contact p {
    font-size: 2rem;
	margin: 3rem 0;
	line-height: 3rem;
}
.contact_background {
	background: linear-gradient(190deg, rgba($darkBlue, .4),
		        rgba($veryDarkBlue, .8) 70%);
}
.contact_details {
	@include containerWidth-sm;
	@include verticalFlex(center, center);
	padding: 3rem 0;
}
.contact_details a {
	width: 285px;
	color: $white;
	text-align: center;
	font-size: 2.5rem;
	margin: 1rem 0;
	position: relative;
	padding: 2rem 0;
	opacity: 1;
	transition: opacity .4s;
	@include horizontalFlex(center, center);
	&:hover {
		opacity: .7;
	}
}
.contact_details a:nth-child(1) span {
	display: block;
	width: 30px;
	height: 30px;
	margin: 0 15px 0 0;
	background-size: 100%;
	background-position: center -1px;
	background-repeat: no-repeat;
	background-image: url(../img/danish_flag.png);
	background-image: url(../img/danish_flag.webp);
}
/*.contact_details a:nth-child(2) span {
 	display: block;
 	width: 30px;
	height: 30px;
	margin: 0 15px 0 0;
	@include backgroundIMG(url(../img/lithuanian_flag.png),
		100%,
		center center);
}*/
.contact_details a:nth-child(2) span {
	display: block;
	width: 30px;
	height: 30px;
	margin: 0 15px 0 0;
	background-size: 120%;
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url(../img/mail.png);
	background-image: url(../img/mail.webp);
}
/*! =========== Media Queries =========== */
@media screen and (min-width: 768px) {
	.contact_content {
		@include containerWidth_md;
	}
	.contact_details {
		@include containerWidth-md;
	}
}
@media screen and (min-width: 1250px) {
	.contact p {
		max-width: 1250px;
		width: 100%;
		margin: 3rem auto;
	}
}
@media screen and (min-width: 1800px) {
	.contact_content {
		@include containerWidth_lg;
	}
	.contact_details {
		@include containerWidth-lg;
	}
}

