/* =========== Footer =========== */
footer {
  height: 10vh;
  background: linear-gradient(
    190deg,
    rgba($veryDarkBlue, 0.8),
    rgba(#000034, 0.8) 70%
  );
  @include verticalFlex(center, center);
  padding: 10rem 2rem;
}
footer p {
  color: $white;
  text-align: center;
  line-height: 25px;
}
