/* ========== Projects ========== */
.projects {
	width: 100%;
}
.projects_content {
	@include containerWidth_sm;
}
.projects h2 {
	color: $darkBlue;
	@extend %txtGradientHeading;
	text-align: center;
	font-size: 4rem;
	margin: 4rem 0;
	padding: 2rem 0;
}
.projects p {
	font-size: 2rem;
	margin: 3rem 0;
	line-height: 3rem;
}
.project_background {
	background: linear-gradient(190deg, rgba($darkBlue, .4), 
		        rgba(#000067, .8) 70%);
}
.carousel {
	position: relative;
	overflow-x: hidden; 
	@include containerWidth_sm;
}
.slider {
	display: flex;
	width: 400%;
	height: 100%;
	transition: all .6s cubic-bezier(.87,-0.37,.65,.91);
}
.slide {
	flex-basis: 100%;
	@include verticalFlex(center, center);
	padding: 5px 25px;
}
.slide_content {
	width: 100%;
	@include horizontalFlex(space-around, flex-end);
}
.project_description {
	color: $white;
	width: 65%;
	margin: 1rem 1rem 0 1rem;
	order: 1;
	align-self: flex-start;
}
.project_description h3 {
	text-align: center;
	margin: 1rem 0rem;
}
.project_description p {
	margin: 0;
	font-size: 1.4rem;
}
.mobile_screen {
	width: 15%;
	margin: 1.5rem 1rem;
	order: 3;
}
.tablet_screen {
	width: 26%;
	margin: 1.5rem 1rem;
	order: 3;
}
.desktop_screen {
	width: 56%;
	margin: 1.5rem 1rem;
	order: 4;
}
.project_link {
	width: 130px;
	text-align: left;
	display: block;
	line-height: 1.6rem;
	padding: 1rem;
	margin: 2rem 0 5rem 0;
	border: 1px solid $white;
	position: relative;
	color: $white;
	opacity: .8;
	@extend %noHighlightAndSelect;
	transition: opacity 1s;
	&:hover {
		opacity: 1;
	}
	&::after {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		right: 0;
		@include backgroundIMG(url(../img/arrow_long_right.svg), 
			12%, 
			-20px center);
		opacity: 0;
		transition: background-position .4s, opacity .4s;
	}
	&:hover::after {
		background-position: 105px center;
		opacity: 1;
	}
}
.controls .arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	color: $white;
	z-index: 5;
	opacity: .5;
	width: 20px;
	@extend %noHighlightAndSelect;
	transition: opacity .2s ease-in;
	&:hover {
		opacity: 1;
	}
}
.left {
	left: 5px;	
}
.right {
	right: 5px;
}
.controls .slide_indicators {
	@extend %ulStyle;
	position: absolute;
	display: flex;
	bottom: 10px;
	left: 50%;
	transform: translate(-50%);
}
.controls .slide_indicators li {
	width: 12px;
	height: 12px;
	border: 1px solid $white;
	border-radius: 50px;
	margin: 10px;
	cursor: pointer;
	background: rgba($white, .8);
}
.controls .slide_indicators li.selected {
	background: transparent;
}
@media screen and (min-width: 500px) {
	.project_description {
		width: 100%;
	}
	.project_description h3 {
		font-size: 2rem;
	}
	.mobile_screen {
		width: 8%;
	}
	.tablet_screen {
		width: 16%;
	}
	.desktop_screen {
		width: 35%;
	}
	.project_link {
		align-self: flex-end;
		margin: 2rem 4rem 1rem 0;
	}
}
@media screen and (min-width: 700px) {
	.project_description {
		width: 100%;
		margin: 2rem 4rem;
	}
	.project_description p {
		font-size: 1.6rem;
		line-height: 2rem;
	}
}
@media screen and (min-width: 768px) {
	.projects_content {
		@include containerWidth_md;
	}
}
@media screen and (min-width: 900px) {
	.project_description {
		width: 100%;
		margin: 2rem 10rem;
	}
	.project_description h3 {
		font-size: 3rem;
	}
	.project_description p {
		font-size: 2.4rem;
		line-height: 3.5rem;
	}
	.mobile_screen {
		width: 10%;
	}
	.tablet_screen {
		width: 25%;
	}
	.desktop_screen {
		width: 50%;
	}
}

@media screen and (min-width: 1250px) {
	.projects p {
		max-width: 1250px;
		width: 100%;
		margin: 3rem auto;
	}
	.mobile_screen {
		width: 8%;
		margin: 2rem 0;	
	}
	.tablet_screen {
		width: 16%;
		margin: 2rem 0;	
	}
	.desktop_screen {
		width: 35%;
		margin: 2rem 0;
	}
}
@media screen and (min-width: 2000px) {
	.projects_content {
		@include containerWidth_lg;
	}
}


