/* ============= Base ============= */

/* ---- Primary styles ----- */
*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: $white;
  font: {
    size: 2rem;
    family: $primary-font; /* variables inside partials > _variables.scss */
  }
  color: $black;
}
a {
  text-decoration: none;
}
.link {
  color: $darkBlue;
}
img {
  max-width: 100%;
  @extend %noHighlightAndSelect;
}
p {
  line-height: 2rem;
}
/* ---- JS helper classes ----- */
.fade_in {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}
.slide_out {
  bottom: -100%;
  opacity: 0;
  transition: bottom .5s ease-in-out, opacity .8s ease-in;

}
.run {
  bottom: 10%;
  opacity: 1;
  @extend %noHighlightAndSelect;
}
.fade_in.appear {
  opacity: 1;
}
.nav-scrolled {
  background: rgba($paleOrange, 0.7);
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(
      330deg,
      rgba($darkBlue, 0.5) 1%,
      rgba($black, 0.4),
      rgba($darkBlue, 0.5) 99%
    );
    border-radius: 30px;
  }
}
@media screen and (min-width: 500px) and (max-width: 768px) and (orientation: landscape) {
  .run {
    bottom: 2%;
  }
}
@media screen and (min-width: 769px) and (max-width: 998px) and (orientation: landscape) {
  .run {
    bottom: 12%;
  }
}


